.content {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* margin-bottom: 30px; */
}

.content__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.contentitem {
  display: flex;
  background-color: #eff2f7;
  border-radius: 5px;
  margin: 30px 50px;
  padding: 30px;
  width: 43%;
  transition: 350ms ease-in-out;
  box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.22);
}

.contentitem:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #fff;
}

.contentitem:active {
  transform: translateY(3px);
}

.contentitem:last-child {
  margin-bottom: 20px;
}

.contentitem__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.contentitem__desc {
  font-size: 15px;
  margin-bottom: 20px;
}

.contentitem img {
  display: block;
  width: 250px;
  height: 180px;
  border-radius: 10px;
  margin-right: 23px;
}

.contentitem a {
  margin-bottom: 10px;
}
