.navigator {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigator__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
  padding: 30px 0;
  background-color: #eff2f7;
}

.navigator__box__times {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
  padding: 30px 0;
  background-color: #fff;
}

.navigator__box__naver {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
  padding: 30px 0;
  background-color: #fff;
}

.navigator__box__daum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
  padding: 30px 0;
  background-color: #fff;
}

.navigator__box__times img,
.navigator__box__naver img,
.navigator__box__daum img,
.navigator__box img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navigator__box__times span,
.navigator__box__naver span,
.navigator__box__daum span,
.navigator__box span {
  font-size: 25px;
  font-weight: 600;
}

.navigator a {
  display: flex;
  color: #1f2d3d;
  text-decoration: none;
  transition: 350ms ease-in-out;
}

.navigator a:hover {
  transform: scale(1.1);
  background-color: #fff;
}

.navigator a:active {
  transform: translateY(3px);
}
