@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #e6921a;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

a:hover,
a:active {
  color: #e6921a;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1f2d3d;
  letter-spacing: -0.05em;
}

.section {
  width: 100%;
}
